.searchForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 0px 71px -40px rgba(64,64,64,1);
    -moz-box-shadow: 0px 0px 71px -40px rgba(64,64,64,1);
    box-shadow: 0px 0px 71px -40px rgba(64,64,64,1);
}

.searchBar{
    min-width: 50%;
    border: 1px solid #f0f0f0;
    border-radius: 5px 0 0 5px;
    height: 40px;
    padding-left: 10px;
}

.searchButton{
    padding: 5px 20px 5px 20px;
    background-color: tomato;
    border-radius: 0 5px 5px 0;
    color: white;
    border: 0;
    margin: 0;
}

.searchButton:hover{
    background-color: rgb(248, 93, 66);
}